#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#movie-container {
  margin-top: 30px;
}

#movie-name {
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

#about-me {
  display: flex;
  flex-direction: column;
}

.pics {
    margin: 10px;
    width: 400px;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
  background-color: #111;
}